<h2>Search Books</h2>

<form action="/books" method="GET">

    <div>
        <labal>Title</labal>
        <input type="text" name="title" value="<%= searchOptions.title%>">
    </div>
    <div>
        <labal>Published After</labal>
        <input type="date" name="publishedAfter" value="<%= searchOptions.publishedAfter%>">
    </div>
    <div>
        <labal>Published Before</labal>
        <input type="date" name="publishedBefore" value="<%= searchOptions.publishedBefore%>">
    </div>

    <button type='submit'>Search</button>
</form>

<br>

<div>
    <% books.forEach(book => { %>
        <a href="/books/<%= book.id %> ">
        <img height="150" width="100" src="<%= book.coverImagePath %>">
    </a>
   <% }); %>
</div>