<h2 class="page-header"><%= book.title %> </h2>

<div class="book-details">
    <div class="book-details-left">
        <img class="book-cover" src="<%= book.coverImagePath  %> ">

        <div class="book-details-btn-grid">

            <% if(canEdit){ %>
                <a class="btn btn-primary" href="/books/<%= book.id %>/edit">Edit</a>

                <%- include('../partials/deleteform', {
                    url: `/books/${book.id}`
                }) %> 
            <% } %> 
            
            <a class="btn btn-primary book-details-author-btn" href="/authors/<%= book.author.id %>">View Author</a>
        </div>
    </div>

    <div class="book-details-grid">

        <div class="book-detail-label">Author:</div>
        <div><%= book.author.name %> </div>

        <div class="book-detail-label">Published Date:</div>
        <div><%= book.publishedDate.toDateString() %></div>
        
        <div class="book-detail-label">Page Count:</div>
        <div><%= book.pageCount %></div>

        <div class="book-detail-label">Description:</div>
        <div><%= book.description %> </div>

    </div>

</div>

